[project]
	description = Client side of ManageSF for managing Software Factory
[access "refs/*"]
  read = group python-sfmanager-core
  owner = group python-sfmanager-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group python-sfmanager-core
	label-Verified = -2..+2 group python-sfmanager-ptl
	label-Workflow = -1..+1 group python-sfmanager-core
	submit = group python-sfmanager-ptl
	read = group python-sfmanager-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group python-sfmanager-core
    read = group Registered Users
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
